.navbar-brand{
    padding: 10px;
}

.project-title{
    text-align: center;
    font-size:30px;
}

.icon-dropdown{
    color: white!important;
    font-size: 30px;
    text-align: center;
}

.dropdown{
    min-width: 125px;
}

.dropdown-menu.show{
    min-width: 80px;
    border-radius: 5px;
}

.navbar-button-text{
    text-decoration: none;
}

