.turn-button{
    margin-left: 3px;
    margin-right: 3px;
}

.text-temp {
    margin-right: 5px;
}


.button-temp{
    padding: 3px;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
}

.btn-footer{
    padding: 3px;
    margin-left: 0.2cm;
    margin-right: 0.2cm;
}